.secondary-object-info.track {
  align-items: flex-start;
  height: auto;
  max-height: none;
}

#lyrics {
  width: 50%;
  line-height: 35px;
}

.card-object.track #profile-img {
  z-index: 101;
}

.card-object.track #name-main {
  position: sticky;
  top: 0;
  z-index: 101;
}
