:root {
  --body-bg-dark: rgb(22, 20, 24);
  --body-bg-light: rgb(255, 253, 254);
  --body-bg-color: var(--body-bg-dark);

  --body-foreground-dark: white;
  --body-foreground-light: black;
  --body-foreground-color: var(--body-foreground-dark);

  --outline-opacity: 50%;
  --primary-outline: rgba(255, 0, 0, var(--outline-opacity));
  --secondary-outline: rgba(0, 0, 255, var(--outline-opacity));
  --tertiary-outline: rgba(0, 200, 0, var(--outline-opacity));
  --quaternary-outline: rgba(120, 120, 120, var(--outline-opacity));
}

body {
  background-color: var(--body-bg-color);
  color: var(--body-foreground-color);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  height: 80vh;
  outline: 3px solid var(--primary-outline);
}

.title {
  text-align: center;
  width: 100%;
}

.content-container {
  width: 75%;
  height: 75%;
  outline: 3px solid var(--secondary-outline);
}

.user-info {
  width:  60%;
  outline: 3px solid var(--tertiary-outline);
  display: flex;
}

.profile, .profile-info {
  width: calc(50% - 10px);
  padding: 5px;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 3px solid var(--quaternary-outline);
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.profile-stats {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
}

.profile-stats p {
  font-size: 12px;
  display: inline-block
}

#display-img {
  border-radius: 50%;
  width: 100%;
  max-width: 200px;
  height: 100%;
  max-height: 100%;
}
