:root {
  --body-bg-dark: rgb(22, 20, 24);
  --body-bg-light: rgb(255, 253, 254);
  --body-bg-color: var(--body-bg-dark);

  --body-secondary-bg-dark: rgb(33, 30, 36);
  --body-secondary-bg-light: rgb(244, 245, 243);
  --body-secondary-bg-color: var(--body-secondary-bg-dark);

  --body-foreground-dark: white;
  --body-foreground-light: black;
  --body-foreground-color: var(--body-foreground-dark);

  --info-card-shadow-light: rgba(0, 0, 0, 0.1);
  --info-card-shadow-dark: rgba(255, 255, 255, 0.1);
  --info-card-shadow-color: var(--info-card-shadow-dark);

  --outline-opacity: 0;
  --primary-outline: rgba(255, 0, 0, var(--outline-opacity));
  --secondary-outline: rgba(0, 0, 255, var(--outline-opacity));
  --tertiary-outline: rgba(0, 200, 0, var(--outline-opacity));
  --quaternary-outline: rgba(120, 120, 120, var(--outline-opacity));

  --object-info-bg-color: var(--body-bg-color);
}

body {
  background-color: var(--body-bg-color);
  color: var(--body-foreground-color);
}

.container, .temp-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  outline: 3px solid var(--primary-outline);
}

.container {
  padding-bottom: 50px;
}

.temp-container {
  justify-content: center;
  height: 90vh;
}

.login-button-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-button {
  background-color: rgb(30, 215, 96);
  color:white;
  border-radius: 10000px;
  font-size: 2vw;
  padding: 1vw 2vw 1vw 2vw;
  cursor: pointer;
}

#login-button:hover {
  /* background-color: #1db954; */
  outline: 1px solid white;
}

.title {
  text-align: center;
  width: 100%;
}

.content-container {
  width: 100%;
  outline: 3px solid var(--secondary-outline);
}

.object-info-container {
  width: 100%;
  height: calc(50vh - 15px);
  max-height: 500px;
  background-image: linear-gradient(to top, var(--body-bg-color), var(--object-info-bg-color));
  padding-top: 30px;

}

.object-info {
  width: 100%;
  outline: 3px solid var(--tertiary-outline);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.card-large {
  width: calc(auto + 20px);
  min-width: 20%;
  max-width: 20vw;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  outline: 3px solid var(--quaternary-outline);
  box-shadow: 0 0 2px 2px var(--info-card-shadow-color);
  text-align: center;
  height: 70%;
}

.card-large h1 {
  font-size: 20px;
}

.card-large h2 {
  font-size: 15px;
}

.card-title {
  font-size: 15px;
}

.secondary-object-info {
  width: 100%;
  height: calc(50vh - 15px);
  max-height: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.card-object {
  box-shadow: none;
  width: calc(40% - 10px);
  height: 80%;
  width: 50%;
  max-width: none;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: right;
  padding-left: 10%;
}

.card-object .profile-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70%;
  justify-content: flex-end;
  align-items: baseline;
}

.card-object h2 {
  font-size: 15px;
  width: 20vw;
  text-align: left;
}

.card-object img {
  min-width: 300px;
  width: 50% !important;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.profile-stats {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
}

.profile-stats p {
  font-size: 12px;
  display: inline-block
}

.additional-object-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.public-playlists, .private-playlists {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: calc(auto + 2vh);
}

.public-playlists .card-large, .private-playlists .card-large {
  margin-bottom: 30px;
  height: auto;
  width: 25%;
}

#profile-img {
  border-radius: 50%;
  width: 50%;
  /* max-width: 100px; */
  /* max-height: 100%; */
}
