:root {
  --body-bg-dark: rgb(22, 20, 24);
  --body-bg-light: rgb(255, 253, 254);
  --body-bg-color: var(--body-bg-dark);

  --body-foreground-dark: white;
  --body-foreground-light: black;
  --body-foreground-color: var(--body-foreground-dark);

  --outline-opacity: 0;
  --primary-outline: rgba(255, 0, 0, var(--outline-opacity));
  --secondary-outline: rgba(0, 0, 255, var(--outline-opacity));
  --tertiary-outline: rgba(0, 200, 0, var(--outline-opacity));
  --quaternary-outline: rgba(120, 120, 120, var(--outline-opacity));

  --object-info-bg-color: var(--body-bg-color);
}

body {
  background-color: var(--body-bg-color);
  color: var(--body-foreground-color);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 90vh;
  outline: 3px solid var(--primary-outline);
}

.title {
  text-align: center;
  width: 100%;
}

.content-container {
  width: 100%;
  outline: 3px solid var(--secondary-outline);
}

.object-info {
  width: 100%;
  outline: 3px solid var(--tertiary-outline);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 30px;
  height: 60vh;
  background-image: linear-gradient(to top, var(--body-bg-color), var(--object-info-bg-color));
}

.card-large {
  width: 40%;
  min-width: 15%;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  outline: 3px solid var(--quaternary-outline);
  box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.2);
  text-align: center;
  height: 40%;
}

.card-large h1 {
  font-size: 20px;
}

.card-large h2 {
  font-size: 15px;
}

.card-title {
  font-size: 15px;
}

.secondary-object-info {
  width: calc(50% - 10px);
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding-bottom: 6vh;
}

.card-me {
  box-shadow: none;
  width: calc(40% - 10px);
  height: 80%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: right;
}

.card-me .profile-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70%;
  justify-content: flex-end;
  align-items: baseline;
}

.card-me h2 {
  font-size: 20px;
}

.card-me img {
  max-width: none !important;
  min-width: 300px;
  width: 50% !important;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.profile-stats {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: space-evenly;
  align-items: center;
}

.profile-stats p {
  font-size: 12px;
  display: inline-block
}

#profile-img {
  border-radius: 50%;
  width: 100%;
  max-width: 100px;
  max-height: 100%;
}
