.content-container,
.temp-container {
  display: grid;
  grid-template-rows: 7vh auto;
}

.content-container {
  padding-bottom: 50px;
}

.temp-container {
  justify-content: center;
  height: 90vh;
}

main {
  width: 100%;
}
